@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;700&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
._container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  color: #2c1500;
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #156963;
  font-size: inherit;
  font-weight: 400;
}

.btn__full {
  background: #156963;
  color: #fff;
}

.btn__full:hover {
  background: #1b8a82;
  color: #fff;
}

.btn__full,
.btn__outline {
  transition: all 0.6s ease;
}

.btn__outline {
  background: transparent;
  color: #156963;
}

.btn__outline:hover {
  border: 1px solid #1b8a82;
}

footer {
  font-family: "Work Sans", sans-serif !important;
}

footer__logo {
  font-family: "Poppins", sans-serif !important;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?fmae7e");
  src: url("../fonts/icomoon.eot?fmae7e#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?fmae7e") format("truetype"), url("../fonts/icomoon.woff?fmae7e") format("woff"), url("../fonts/icomoon.svg?fmae7e#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow__bottom:before {
  content: "";
}

.icon-arrow__left:before {
  content: "";
}

.icon-arrow__right:before {
  content: "";
}

.icon-delivery:before {
  content: "";
}

.icon-plants:before {
  content: "";
}

.icon-price:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-service:before {
  content: "";
}

.icon-shop:before {
  content: "";
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 40;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 116px;
}

.header__left,
.header__right {
  flex: 0 1 50%;
}

.header__logo {
  height: 36px;
  width: 36px;
}

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__right .header__right__svg a {
  margin: 0 20px;
}

.header__right .header__right__svg a:last-child {
  margin-right: 8px;
}

.header__right .header__right__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 1 220px;
}

.header__right .header__right__buttons .header__btn {
  height: 36px;
  max-width: 110px;
  width: 100%;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-webp .intro__left{
  background: url("../img/intro__flower.png") 0 0/cover no-repeat; }

.intro__left {
  height: 740px;
}

.intro__left,
.intro__right {
  flex: 0 1 50%;
}

.intro__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.intro__right__btns {
  align-self: flex-end;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.intro__right__btns .intro__right__btn {
  height: 160px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__right__btns .intro__right__btn:first-of-type span {
  color: #333 !important;
}

.intro__right__btns .intro__right__btn p {
  font-weight: 500;
  font-size: 32px;
  line-height: 121.90625%;
  margin-top: 10px;
}

.intro__right__btns .intro__right__btn p span {
  font-size: 24px;
  line-height: 121.9166666667%;
  color: #f2f2f2;
  margin-right: 8px;
}

.intro__right__btns .intro__right__btn .wrapper__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro__right__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 110px 70px 0px 70px;
}

.intro__right__info h1 {
  font-size: 68px;
  font-weight: 500;
  max-width: 500px;
  line-height: 121.8970588235%;
  margin-bottom: 25px;
}

.intro__right__info p {
  opacity: 0.8;
  font-size: 18px;
  line-height: 177.7777777778%;
  max-width: 425px;
}

.icon-arrow__left {
  transform: translateX(4px) !important;
}

.cards {
  margin-top: 140px;
  margin-bottom: 80px;
}

.cards__wrapper {
  display: flex;
  justify-content: center;
  height: auto;
  align-items: flex-start;
  max-width: 1200px;
}

.cards__item {
  border: 1px solid #e0e0e0;
  padding: 22px 16px;
  flex: 0 1 270px;
  margin: 0 16px;
  min-height: 100%;
}

.cards__item p {
  font-size: 10px;
  line-height: 160%;
  max-width: 240px;
  margin-top: 16px;
}

.cards__item h6 {
  max-width: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: inline;
  margin: 0 16px;
}

.cards__item .cards__item__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-delivery,
.icon-service,
.icon-plants,
.icon-price {
  font-size: 48px;
  color: #156963;
}

.feature__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
  min-height: 45px;
}

.feature__header__left span {
  font-weight: 500;
  font-size: 20px;
  line-height: 121.9%;
  color: #000;
}

.feature__header__right button {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 12px;
}

.feature__header__right button span {
  font-weight: 500;
  font-size: 12px;
  line-height: 121.9166666667%;
  color: #000;
}

.feature__header__right button svg {
  margin-left: 15px;
}

.feature__main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}

.feature__main__item {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  line-height: 121.875%;
}

.feature__main__item p {
  margin: 8px 0;
}

.feature__main__item span {
  font-weight: 600;
}

.feature__main__item img {
  max-width: 217px;
  width: 100%;
  max-height: 217px;
  height: 100%;
  margin-bottom: 8px;
}

.feature__main__item:first-child {
  margin-left: 0;
}

.feature__main__item:last-child {
  margin-right: 0;
}

.preference {
  margin-top: 55px;
  margin-bottom: 80px;
}

.preference__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preference__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.preference__left__info h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #2c1500;
  max-width: 450px;
  margin-bottom: 15px;
}

.preference__left__info p {
  max-width: 450px;
  font-size: 16px;
  line-height: 175%;
}

.preference__left__img {
  width: 100%;
}

.preference__left__img img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 570px;
  width: 100%;
  max-height: 250px;
  height: 100%;
  margin-top: 90px;
}

.preference__left,
.preference__right {
  flex: 0 1 50%;
}

.preference__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.preference__right img {
  max-width: 515px;
  width: 100%;
  max-height: 610px;
  height: 100%;
}

.special {
  margin-bottom: 80px;
}

.special__wrapper {
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special__left {
  flex: 0 1 70%;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding-left: 100px;
  flex-direction: column;
}

.special__left h3 {
  max-width: 550px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #2c1500;
}

.special__left__buttons button {
  padding: 10px 42px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #fafefe;
  margin: 30px 0;
}

.special__right {
  flex: 0 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #e0e0e0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 0 1 950px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 70px;
}

.footer__left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer__left__logo {
  text-transform: uppercase;
  max-width: 110px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 5%;
  margin-bottom: 25px;
}

.footer__left address {
  font-style: normal;
  max-width: 280px;
  font-size: 13px;
  font-weight: 400;
  line-height: 153.8461538462%;
  color: #4f4f4f;
}

.footer__left address p {
  font-weight: 500;
  font-size: 16px;
  line-height: 117.3125%;
  color: #333;
  margin-bottom: 10px;
}

.footer__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer__right nav {
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer__right nav ul li {
  margin: 7px 0;
  font-size: 14px;
  line-height: 114.2857142857%;
}

.footer__right nav ul li form input {
  padding: 8px 13px;
}

.footer__right nav ul li form input::-moz-placeholder {
  font-size: 12px;
  line-height: 133.3333333333%;
  opacity: 0.5;
  color: #000;
}

.footer__right nav ul li form input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 133.3333333333%;
  opacity: 0.5;
  color: #000;
}

.footer__right nav ul li form input::placeholder {
  font-size: 12px;
  line-height: 133.3333333333%;
  opacity: 0.5;
  color: #000;
}

.footer__right nav ul li a {
  color: #000;
}

.footer__right nav span {
  font-weight: 700 !important;
  font-size: 16px;
  color: #000;
  margin-bottom: 14px;
}

.footer__right nav:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.li__footer__form {
  margin-top: 0 !important;
}

.btn__footer__form {
  margin-top: 14px !important;
}

.form__btn {
  padding: 4px 12px;
  font-weight: 500;
  font-size: 8px;
  line-height: 175%;
}

@media (min-width: 1600px) {
  .intro__right {
    align-items: flex-start;
  }

  .intro__right__btns {
    align-self: unset !important;
  }
}

@media (max-width: 1200px) {
  .feature__main__item {
    margin: 20px 10px;
  }

  .feature__main__item:first-child,
  .feature__main__item:last-child {
    margin: 20px 10px;
  }

  .special__right img {
    max-width: 480px;
    width: 100%;
    max-height: 360px;
    height: 100%;
    min-width: 300px;
    min-height: 200px;
  }

  .special__left {
    padding: 40px;
  }
}

@media (max-width: 1025px) {
  .intro__right__btn {
    height: 120px !important;
    width: 240px !important;
  }

  .cards__item {
    margin: 16px;
  }

  .cards__wrapper {
    flex-wrap: wrap;
  }

  .preference__right {
    flex: 0 1 45%;
  }

  .preference__wrapper {
    justify-content: space-around;
  }

  .preference__left__img img {
    margin-top: 50px;
  }
}

@media (max-width: 950px) {
  .preference__left {
    flex: 0 1 45%;
  }

  .preference__right {
    flex: 0 1 50%;
  }

  .preference__left__img img {
    margin-top: 20px;
  }
}

@media (max-width: 769px) {
  .header__right .header__right__buttons {
    display: none;
  }

  .preference__left__info h3 {
    font-size: 30px;
  }

  .preference__wrapper,
  .intro__wrapper {
    flex-wrap: wrap;
  }

  .intro__right {
    padding: 0 10px;
  }

  .intro__right__btns {
    align-self: flex-start;
  }

  .intro__right__info {
    margin: 0;
  }

  .preference__left {
    order: 2;
    align-items: center;
  }

  .preference__right {
    order: 1;
    justify-content: center;
  }

  .preference__right img {
    margin-bottom: 30px;
  }

  .preference__left__img img,
  .preference__left__info h3,
  .preference__left__info p,
  .intro__right__info h1,
  .intro__right__info p {
    max-width: unset;
  }

  .intro__right__btns {
    margin-top: 30px;
  }

  .preference__left,
  .preference__right,
  .intro__left,
  .intro__right {
    flex: 0 1 100%;
  }

  .special__left h3 {
    font-size: 35px;
  }

  .intro__right__btns {
    flex-wrap: wrap;
  }

  .footer__wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .footer__left {
    margin-bottom: 20px;
  }

  .footer__left h5,
  .footer__left address {
    max-width: unset;
  }

  .footer__right {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .footer__right nav {
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .special__wrapper {
    flex-wrap: wrap;
  }

  .special__left {
    order: 2;
  }

  .special__left h3 {
    font-size: 28px;
  }

  .special__right,
  .special__left {
    flex: 0 1 100%;
  }

  .footer__right {
    justify-content: flex-start;
  }

  .footer__right nav {
    margin: 20px 10px;
  }

  .intro__right__info h1 {
    font-size: 45px;
  }
}

.webp .intro__left{ background: url(../img/intro__flower.webp) 0 0/cover no-repeat; }